Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
genwrapper.1
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps/
src/Makefile
src/Makefile.in
doxyfile
doxyfile.stamp
html/
man/
*.o
*~
*.lo
*.la
.deps
.libs
*.pc
*.tar.gz
src/config.h
src/config.h.in
src/stamp-h1
